@import url("./reset.scss");

html {
  font-family: sans-serif;
  background-color: #8c8686;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  height: 100vh;
}
